/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.about-top {
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: #10102F;
  background-size: 100% 100%;
  size: 100%;
  margin-top: 60px;
  padding-top: 150px;
  padding-bottom: 160px;
}
.career-title {
  min-width: 200px;
  max-width: 520px;
  text-align: center;
  border-bottom: 1px solid white;
  display: inline-block;
}
.career-sub {
  padding-top: 30px;
  text-align: center;
  font-weight: lighter;
}
.career-par {
  padding-left: 30px;
  padding-top: 15px;
  font-size: 24px;
}
.about {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/CF_AboutBG.png");
  background-size: 100% 100%;
  padding: 60px 15%;
  padding-top: 100px;
  padding-bottom: 110px; 
  
}
.about-title {
  margin-top: 0px;
  padding-top: 0;
  text-align: center;
  padding: 5px 15px;
  border: 2px solid grey;
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
}
.about-jump {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 30px;
  text-align: right;
  max-width: 845px;
  background-size: 100% 100%;
  padding: 60px 15%;
  padding-top: 100px;
  padding-bottom: 110px; 
}
.career-par2 {
	margin-left: -15%;
  padding-left: 0px;
  padding-right: 70px;
  padding-top: 15px;
  font-size: 24px;
}
.about-jump-title {
	min-width: 300px;
  	max-width: 520px;
  	display: inline-block;
	text-align: right;
 	border: 2px solid grey;
 	font-size: 40px;
 	margin: 10px 30px;
 	text-transform: uppercase;
 	padding: 5px 20px	
}