/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
/*top of page*/
.conference-top {
  max-height: 510px;
  height: 90%;
  display: inline-block;
  margin-top: 70px;
  min-width: 100%;
  background-color: #1F8287;
  /*background-image: url("../images/con_back.png"); */
}
.conference-title{
	padding: 50px 25px;
	margin: 72px auto;
	font-family: 'Source Sans Pro', sans-serif;
	width: 510px;
	color: white;
	float: right;
	text-align: center;
}
.conference-title h1{
  margin: 0px auto;
	font-size: 42px;
  text-align: center;
  display: inline-block;
  font-weight: 900;
}
.conference-title h2{

	font-size: 24px;
	padding-top: 15px;
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 500px){
  .conference-title{
    margin-top: 0;
    width: 95%;
    display: inline-block;
  }
}
@media screen and (max-width: 1200px){
	.logo_c{
		display: none;
	}
	.conference-title{
		width: 95%;
		display: inline-block;
	}
}
.logo_c{
	float: left;
	content: url("../images/cssa_confLogoWhite.png");
	width: 450px;
	height: 400px;
	padding: 25px 50px;
	margin: 40px 0px;
}
.container1 {
	width: 80%;
	max-width: 1000px;
	height: 470px;
	margin:0 auto;
}
.conference-sub {
  padding-top: 30px;
  text-align: center;
  font-weight: lighter;
}

.about {
  /*background-image: url("../images/CF_AboutBG.png");
  background-size: 100% 100%;*/
  background-color: #f7c548;
  color: black;
  padding: 60px 13%;
  padding-top: 74px;
  padding-bottom: 110px; 
  
}
.about-title {
  margin: 0 auto;
  text-align: center;
  padding: 5px 15px;
  border: 2px solid black;
  font-size: 36px;
  text-transform: uppercase;
  width: 170px;
}

.past {
  background-color: black;
  color: white;
  padding: 60px 13%;
  padding-top: 74px;
  padding-bottom: 110px; 
  
}
.past p {
	padding-left: 30px;
  padding-top: 45px;
  font-size: 24px;
  padding-bottom: 30px;
}
.past_title h1 {
  margin: 0 auto;
  text-align: center;
  padding: 5px 15px;
  border: 2px solid white;
  font-size: 36px;
  text-transform: uppercase;
  width: 230px;
}
.button-2017{
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: #34699A;
    color: #ffffff;
    border: 0;
    padding: 15px 40px;
    font-weight: bold;
    float: none;
	margin: auto;
	display: table;
    font-size: 14px;
}
.button-2017:hover {
	opacity: 0.7;
}
.button-reg{
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: #f49542;
    color: #ffffff;
    border: 0;
    padding: 15px 40px;
    font-weight: bold;
    float: none;
    margin: 30px auto;
  display: table;
    font-size: 14px;
}
.button-reg:hover {
  opacity: 0.7;
}
.about-para {
  padding-left: 30px;
  padding-top: 45px;
  font-size: 24px;
}

ul{
  padding-left: 30px;
  font-size: 24px;
}
li{
  padding-top: 10px;
}

.table-title {
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.table-content {
 border-bottom: 1px solid #ddd;
 border-top: 1px solid #ddd; 
}
.left-content {
  font-weight: lighter;
  border-right: 1px solid #ddd; 
}

.middle-content {
  font-weight: lighter;
}

.right-content {
  font-weight: lighter;
  border-left: 1px solid #ddd;
  color: lightblue;
}

.attending-bottom {
  width: 100%;
  margin-top:20px;
  text-align: center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  text-align: center;
  margin: 0px auto;
  width: 90%;
  border-bottom: 2px solid black;
}

/*register txt */
.register-holder {
  width:100%;
  padding-bottom: 15px;
}

.register { 
  display: inline-block;
  background: #FFD700;   
  width: 90%;
  margin-top: 30px;
  font-weight: bold;
  padding: 15px 0px;
  text-transform: uppercase;
  font-size: 26px;

}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  text-align: center;
}

.mailing, .payment, .bring, .info {
  display: inline-block;
  width: 300px;
  height: 230px;
  text-align: center;
  vertical-align: top;
  border: 1px solid black;
}

.bottom-text {
 margin: 30px auto;
 width: 90%;
 border: 1px solid black;
}

.tabcontent h3 {
 background-color: #10102F;
 color: white;
 font-size: 26px; 
 padding: 5px 0px;
 text-transform: uppercase;
}
.speakers{
  margin-top: 50px;
  margin:0 auto;
  width: 800px;
  height:100%;
}
.col-md-8{
 padding-top: 0px;
}
.col-md-4{
  padding-top: 10px
}

.contain{
  margin: 0 auto;
  padding: auto;
  height: 12%;
}

.logo1{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -1;
    overflow: hidden;
}
i.fa.fa-facebook{
  padding-right: 25px;
  padding-left: 20px;
}
i.fa.fa-linkedin{
  padding-right: 30px;
  padding-left: 18px;
}
i.fa.fa-instagram{
  padding-right: 30px;
  padding-left: 18px;
}
.speakers{
  margin-top: 50px;
  margin:0 auto;
  max-width: 950px;
  width:85%;
  height: auto;
}
.pictures{
  margin: 0 auto;
  margin-top: 75px;
  max-width: 950px;
  width:85%;
  height: auto;
}
.col-md-14{
  border-bottom: 2px solid white;
  padding-top: 30px; 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;

}
.col-md-14 p{
  padding-top: 20px;
  padding-bottom: 30px; 
  font-family: 'Source Sans Pro', sans-serif;
}
.col-md-14 h2{
  margin-top: 10px;
  padding-top: 0px; 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
}
.col-sm-4{
  
  font-family: 'Source Sans Pro', sans-serif;

}
.attending-speak {
  background-color: #10102F;
  color: white;
  padding: 60px 3%;
  padding-top: 74px;
  padding-bottom: 110px; 

}

.attending-title {
 margin: 0 auto;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 10px;
  border: 2px solid white;
  font-size: 36px;
  text-transform: uppercase;
  width: 300px;
 
}
.speak img{
  height: 195px;
    width: 195px;
    border-radius: 50%;
    margin: 0 auto;
}
.speak{
  width: 195px;
  height: 345px;
  text-align: center;
  margin: 0 auto;
}
.speak h3 {
  color: white;
  padding-bottom: 0;
  margin-bottom:0;

}
.speak h4 {
  color: white;
}