/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.conference-title{
  margin: 0 auto;
}
.conference-title h1{
  font-size: 42px;
  min-width: 185px;
  max-width: 430px;
  text-align: center;
  border-bottom: 2px solid white;
  display: inline-block;
  font-weight: 900;
}
/*top of page*/
.conference-top {
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: black;
  background-image: url("../images/confe.jpeg");
  background-size: 100% 100%;
  size: 100%;
  margin-top: 60px;
  padding-top: 170px;
  padding-bottom: 160px; 
}


.conference-sub {
  padding-top: 30px;
  text-align: center;
  font-weight: lighter;
}

.about {
  background-color: #183544;
  padding: 60px 15%;
  padding-top: 74px;
  padding-bottom: 110px; 
  
}
.about-title {
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 5px 15px;
  border: 2px solid white;
  font-size: 36px;
  text-transform: uppercase;
  width: 170px;
}
.about h2{
  color:white;
  padding-left: 30px;
  padding-top: 20px;
}

.about p{
  color: white;
  padding-right: 28px;
  padding-left: 30px;
  padding-top: 25px;
  font-size: 24px;
}

/*Middle of page*/
.attending-company {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #10102F;
  color: white;
  min-height: 2750px;
  height: auto;

}


.attending-comp-holder {
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: right;
  max-width: 845px;
  margin-left: auto;
  margin-right: auto;
}

.attending-title {
 margin: 0 auto;
  text-align: center;
  padding: 5px 15px;
  border: 2px solid white;
  font-size: 36px;
  text-transform: uppercase;
  width: 250px;
 
}

.table-title {
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.table-content {
 border-bottom: 1px solid #ddd;
 border-top: 1px solid #ddd; 
}
.left-content {
  font-weight: lighter;
  border-right: 1px solid #ddd; 
}

.middle-content {
  font-weight: lighter;
}

.right-content {
  font-weight: lighter;
  border-left: 1px solid #ddd;
  color: lightblue;
}

.attending-bottom {
  width: 100%;
  margin-top:20px;
  text-align: center;
}

.plan-ahead {
  font-weight: lighter;
  text-align: right;
  display: inline-block;
  padding: 10px 10px;
}

.download-button {
  text-align: center;
  background-color: white;
  vertical-align: top;
  margin-top: 12px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.download-button h2{
  vertical-align: top;
  color: black;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.download-button img {
  vertical-align: top;
  width: 40px;
  height: 40px;
  display: inline-block;
  padding-top: 10px;
}

.faq-back {
  background-image: url("../images/CF_FAQBG.png");
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 110px; 
}
.faq {
  max-width: 700px;
  margin: 0px auto;
}

.faq-title-holder {
  width: 100%;
}

.faq-title {
  border: 2px solid black;
  padding: 0px 10px;
  margin: 20px 30px;
  display: inline-block;
  font-size: 36px;
  
}

/* Style the tab */
.tab {
  overflow: hidden;
  text-align: center;
  margin: 0px auto;
  width: 90%;
  border-bottom: 2px solid black;
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/*register txt */
.register-holder {
  width:100%;
  padding-bottom: 15px;
}

.register { 
  display: inline-block;
  background: #FFD700;   
  width: 90%;
  margin-top: 30px;
  font-weight: bold;
  padding: 15px 0px;
  text-transform: uppercase;
  font-size: 26px;

}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  text-align: center;
}

.mailing, .payment, .bring, .info {
  display: inline-block;
  width: 300px;
  height: 230px;
  text-align: center;
  vertical-align: top;
  border: 1px solid black;
}

.bottom-text {
 margin: 30px auto;
 width: 90%;
 border: 1px solid black;
}

.tabcontent h3 {
 background-color: #10102F;
 color: white;
 font-size: 26px; 
 padding: 5px 0px;
 text-transform: uppercase;
}
.speakers{
  margin-top: 50px;
  margin:0 auto;
  max-width: 950px;
  width:85%;
  height: auto;
}
.col-md-14{
  border-bottom: 2px solid white;
  padding-top: 30px; 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;

}
.col-md-14 p{
  padding-top: 20px;
  padding-bottom: 30px; 
  font-family: 'Source Sans Pro', sans-serif;
}
.col-md-14 h2{
  margin-top: 5px;
  padding-top: 0px; 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
}

.contain{
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
  height: 100%;
}
.footer-distributed{
  border-top: 1px solid white;
}
i.fa.fa-facebook{
  padding-right: 25px;
  padding-left: 20px;
}
i.fa.fa-linkedin{
  padding-right: 30px;
  padding-left: 18px;
}
i.fa.fa-instagram{
  padding-right: 30px;
  padding-left: 18px;
}