/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

.cssa-events{
	padding-top: 70px;
	padding-bottom: 0px;/*200px*/
	background-color: white;
}

.events-head{
	padding: 100px 0;
	background-image: url("../images/CF_BG1.png");
}

.events-head h1{
	text-transform: uppercase;
	border-bottom: 2px solid white;
	color: white;
	text-align: center;
	width: 150px;
	margin: 0 auto;
	font-size: 42px;
}

.CSSA-Upcoming-Events {
	margin: 0 200px;
	text-align: center;
}

.CSSA-Upcoming-Events h1{
	border: 2px solid #10102F;
	color: #10102F;
	text-transform: uppercase;
	max-width: 95%;
	width: 500px;
	margin: 25 auto;
	font-size: 40px;

}

.CSSA-Past-Events {
	margin: 0 200px;
	text-align: center;
}
table {
  height: 20%;
  left: 10%;
  margin: 30px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #10102F;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
  font-size: 18px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 25px;
  width: 25%;
  font-size: 18px;
  text-align: center;
}

.CSSA-Past-Events h1{
	border: 2px solid #10102F;
	color: #10102F;
	text-transform: uppercase;
	max-width: 95%;
	width: 400px;
	margin: 25 auto;
	font-size: 40px;
}




/* End of the title */


/*table {
	color: white;
	display: block;
	margin: auto;
	width: 825px;
	max-width: 95%;
}

tr {
	height: 30px;

}*/

.headerTab {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
	width: 30%;
}

#dateTab {
	width:33%;
	font-family: 'Open Sans', sans-serif;
	background-color: lightblue;
}

#eventTab {
	width: 33%;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: yellow;
}

#locationTab {
	width: 33%;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: teal;
}

.tableContent{
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}


button {
	background-color: #10102F;
	border: none;
	padding: 10px 10px;
	margin: 5px 0px;
	color: white;
	font-size: 15px;
}
.fa-envelope {
    background: #3ea1ec;
    color: white;
}