
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body{
  padding: auto;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
.footer-distributed{
    background-color: #10102F;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 15px 60px 10px;
    margin-left: 0;
    margin-top: 3px solid black;
    overflow: hidden;

}
/* Footer left */
.footer-distributed .footer-left{
    float: left;
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
}
.
/* Logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 0.8;
    text-decoration: none;
    color:  inherit;
}
.footer-links a:hover{
        opacity: 0.7;
    }
.footer-distributed .footer-connect{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    padding-top: 40px;
    margin: 0;
}

/* Footer social icons */

.fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px;
  border-radius: 5px;
}

/* Add a hover effect */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-envelope {
    background: #3ea1ec;
    color: white;
}
/* Footer Right */

.footer-distributed .footer-right{
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-distributed .footer-right p{
    display: block;
    vertical-align: top;
    margin: 20px 15px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form{
    margin-top: 20px;
    display: block;
}

.footer-distributed form input{
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #323232;
    width: 410px;
    padding: 5px;
}

.footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
}

.footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
}
.footer-distributed form button{
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: #34699A;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 13px;
    float: right;
}
form button:hover{
        opacity: 0.7;
    }
/* If you don't want the footer to be responsive, remove these media queries */

@media screen and (max-width: 950px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
    }

    .footer-distributed form input{
        width: 300px;
    }
    .footer-distributed form button{
        padding: 10px 35px;
    }
    .footer-distributed .footer-connect{
      font:bold;
      margin-top: 0px;
      padding-top: 0px;
    }

}

@media screen and (max-width: 950px) {

    .footer-distributed{
        padding: 15px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 400px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        width: auto;
        margin-bottom: 5px;
    }

    .footer-distributed form button{
        float: none;
        cursor: pointer;
    }
    form button:hover{
        opacity: 0.7;
    }
    .footer-distributed .footer-connect{
      margin-top: 0px;
      padding-top: 0px;
    }

}

}
