/* 
 * CSS module used for the changing Header format across the app. 
 */

 /* All of the items in the navbar */
.navbar {
     margin-bottom: 0;
     background-color: #008000;
     z-index: 9999;
     border: 0;
     font-size: 12px !important;
     line-height: 1.42857143 !important;
     letter-spacing: 4px;
     border-radius: 0;
     font-family: "Trebuchet MS", sans-serif;
}

.navbar li a, .navbar .navbar-brand {
     color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
     color: #008000 !important;
     background-color: #fff !important;
}
.navbar-default .navbar-toggle {
     border-color: transparent;
     color: #fff !important;
}

#mySearchBar {
     display: block;
     /*margin-left: 350px;
     margin-right: 350px; */
     /*max-width: 800px;*/
     /*min-width: 300px;*/
}

.glyphicon.glyphicon-home {
     font-size: 15px;
}