@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.ucsd-nav {
  background-color: white;
  padding: 0px 0px;
  padding-bottom: 6.5px;
  width: 100%;
  position: absolute;
  top: 0;
  max-height: 90%;
  overflow: hidden;
}
.ucsd-nav .icon {
    color: #5c6772;
    display: none;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 950px) {
  .ucsd-nav-right a {display: none;}
  .ucsd-nav a.icon {
    top: 3%;
    float: right;
    display: block;
  }
  a.icon:hover{
    color: #040505;
  }
  
}

@media screen and (max-width: 950px) {
  .ucsd-nav.responsive {position: right;}
  .ucsd-nav.responsive .icon {
    margin-right: 12px;
    position: absolute;
    right: 0;
    top: 4%;
  }
  .ucsd-nav.responsive a {
    margin-right: 22px;
    position: right;
    float: none;
    display: block;
    text-align: right;
  }
  .ucsd-nav.responsive .ucsd-logo{
    min-width: 154%;
  }
}
.ucsd-nav-left {
  float: left;
  max-width: 100px;
}
.ucsd-nav-right {
  font-size: 28px;
  float: right;
  position: center;
}
.ucsd-nav-content {
  margin: auto;
  max-width: 1150px;
  max-height: 100px;
}
.ucsd-nav-right {
  list-style-type: block;
  padding-left: 0;
  /* Change location of bar in  nav bar*/
  margin: 1.9%;
  top: 3%;
}
.ucsd-nav-right__item {
  display: inline-block;
}
.ucsd-nav-right__item {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 10px;
  color: #5c6772;
  cursor: pointer; /* Tells the browser that the cursor should be a pointer on hover */
}
.ucsd-nav-right__item:hover{
  color:#040505;
}
.ucsd-nav-right__item .ucsd-button {
  padding: 0 20px;
  margin: 0 10px;
  color: white;
  height: 0px;
}
.ucsd-nav .ucsd-logo {
  padding-top: 10px;
  padding-left: 16px;
  line-height: 36px;
}
