/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
/*.cssa-omegapsi{
	padding-top: 90px;
	padding-bottom: 30px;
	background-color: white;
	text-align: center;
}*/
.cssa-omegapsi{
	padding-top: 70px;
	background-color: white;
	text-align: center;
}


/*.head{
	background-image: url("../images/CF_BG1.png");
	font-family: 'Source Sans Pro', sans-serif;
  	background-size: 100% 100%;
  	padding-top: 50px;
  	padding-bottom: 100px; 
  	text-align: center;
  	font-size: 24px;
  	border: 0px;
  	text-decoration: none;
}*/

.head {
	padding: 100px 0;
	background-image: url("../images/CF_BG1.png");
}

.head h1 {
	text-transform: uppercase;
	border-bottom: 2px solid white;
	width: 400px;
	color: white;
	text-align: center;
	margin: 0 auto;
	font-size: 42px;
}

/*@media screen and (max-width: 700px) {
	.head { 
		background-size: cover;
	}
}
@media screen and (min-width: 800px) {
	.head { 
		background-size: cover;
	}
}*/

/*.head h1{
	display: inline-block;
	padding-top: 150px;
	border-bottom: 2px solid white;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	color: white;
	white-space: nowrap;
}*/

.about{
	padding:40px 40px;
	background-color: white;
	max-width: 800px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	margin:0 auto;
}

.about h1{
	border: 2px solid black;
	font-weight: bolder;
	text-transform: uppercase;
	width: 420px;
	margin: 0 auto;
}


.images-omegapsi {
	display:flex;
	flex-flow:row nowrap;
	align-items: center;
	width:55%;
	margin-left:auto;
	margin-right:auto;
}

.about h2{
	font-weight: bolder;
}


.about p{
	text-align:center;
	
}

.about ul{
	text-align:left;
}


.omegapsi-button {
  	/*display: inline-block;*/
	padding: 1px 25px;
  	letter-spacing: 1.5px;
  	height: 35px;
  	font-size: 18px;
  	border-radius: 5px;
  	background-color: #10102F;
  	color: white;
  	border: none;
  	font-family: 'Open Sans', sans-serif;
  	cursor: pointer;
  	text-decoration: none;
  	text-align:center;
  	vertical-align:middle;
  	font-weight: 900;
  	margin: 0 auto;
  }
/*@media screen and (max-width: 800px) {
	.mentor-button {
		margin-right: 1px;
		padding: 10px 20px;
	} 
	.mentee-button {
		padding: 10px 20px;
	}  
	.head h1{
		max-width: 440px;
		color: white;
		white-space: nowrap;
		font-size: 42px;
	}

}
@media screen and (max-width: 470px) {
	.head h1{
		max-width: 390px;
		color: white;
		white-space: nowrap;
		font-size: 36px;
	}*/


/*.mentee-button{
	display: inline-block;
	padding: 10px 35px;
  	text-transform: uppercase;
  	letter-spacing: 1.5px;
  	height: 50px;
  	font-size: 18px;
  	border-radius: 5px;
  	background-color: white;
  	color: black;
  	border: none;
  	font-family: 'Open Sans', sans-serif;
  	cursor: pointer;
  	text-decoration: none;
  	text-align:center;
  	vertical-align:middle;
  	font-weight: 900;
}
.mentee-button:hover{
	opacity: 0.7;
}*/
/*@media screen and (max-width: 700px) {
	
	.mentee-button {
		padding: 10px 20px;
	}  */



/*@media screen and (max-width: 700px) {
	.button {
		display: inline-block;
		margin-right: 1px;
		padding: 8px 5px;
		font-size: 14px;
		width: 100%;
	} */
