/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.cssa-mentor{
	padding-top: 70px;
	background-color: white;
	text-align: center;

}

.head{
	background-image: url("../images/mentor.jpeg");
	font-family: 'Source Sans Pro', sans-serif;
  	background-size: 100% 100%;
  	padding-top: 50px;
  	padding-bottom: 200px; 
  	text-align: center;
  	font-size: 24px;
  	border: 0px;
  	text-decoration: none;

}

@media screen and (max-width: 700px) {
	.head { 
		background-size: cover;
	}
}
@media screen and (min-width: 800px) {
	.head { 
		background-size: cover;
	}
}

.head h1{
	display: inline-block;
	padding-top: 150px;
	border-bottom: 2px solid white;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	color: white;
	white-space: nowrap;
}

.about{
	padding:20px 40px;
	background-color: white;
	max-width: 700px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
}

.about h1{
	border: 2px solid black;
	font-weight: bolder;
	text-transform: uppercase;
	width: 230px;
	margin: 0 auto;
}

.about h2{
	font-weight: bolder;
}

#sign-up-wrapper{
	background-color: #10102F;

}

.sign-up{
	padding: 30px 25px;
	background-color: #10102F;
	max-width: 700px;
	margin: 0 auto;
	border: 0;
	padding-bottom: 50px;
	font-size: 20px;
}

.sign-up h1{
	text-transform: uppercase;
	color: white;
	border: 2px solid white;
	width: 300px;
	margin: 0 auto;
	width: 90%;
	max-width: 310px;

}

.sign-up p{
	color: white;
}

.ment-container1{
	display: inline-block;
	text-align: center;

}
.mentor-button{
	margin-right: 25px;
	display: inline-block;
	padding: 10px 35px;
  	text-transform: uppercase;
  	letter-spacing: 1.5px;
  	height: 50px;
  	font-size: 18px;
  	border-radius: 5px;
  	background-color: white;
  	color: black;
  	border: none;
  	font-family: 'Open Sans', sans-serif;
  	cursor: pointer;
  	text-decoration: none;
  	text-align:center;
  	vertical-align:middle;
  	font-weight: 900;
}
.mentor-button:hover{
	opacity: 0.7;
}
@media screen and (max-width: 800px) {
	.mentor-button {
		margin-right: 1px;
		padding: 10px 20px;
	} 
	.mentee-button {
		padding: 10px 20px;
	}  
	.head h1{
		max-width: 440px;
		color: white;
		white-space: nowrap;
		font-size: 42px;
	}

}
@media screen and (max-width: 470px) {
	.head h1{
		max-width: 390px;
		color: white;
		white-space: nowrap;
		font-size: 36px;
	}

}
.mentee-button{
	display: inline-block;
	padding: 10px 35px;
  	text-transform: uppercase;
  	letter-spacing: 1.5px;
  	height: 50px;
  	font-size: 18px;
  	border-radius: 5px;
  	background-color: white;
  	color: black;
  	border: none;
  	font-family: 'Open Sans', sans-serif;
  	cursor: pointer;
  	text-decoration: none;
  	text-align:center;
  	vertical-align:middle;
  	font-weight: 900;
}
.mentee-button:hover{
	opacity: 0.7;
}
@media screen and (max-width: 700px) {
	
	.mentee-button {
		padding: 10px 20px;
	}  

}

#know-more-wrapper{
	background color: white;
}

.know-more{
	padding: 30px 40px;
	max-width: 700px;
	margin: 0 auto;
	font-size: 18px;
	
}

.know-more h1{
	border: 2px solid #10102F;
	color: #10102F;
	text-transform: uppercase;
	max-width: 95%;
	width: 400px;
	margin: 0 auto;

}

.ment-container2{
	text-align: center;
	padding-top: 45px;
}

.ment-container2 h2{
	display: inline-block;
	background-color: #10102F;
	border-radius: 5px;
	color: white;
	padding: 10px 15px;
	margin: 10px 10px;
}

.button {
	display: inline-block;
	padding: 8px 25px;
  	text-transform: uppercase;
  	letter-spacing: 1.5px;
  	height: 35px;
  	font-size: 18px;
  	border-radius: 5px;
  	background-color: #10102F;
  	color: white;
  	border: none;
  	font-family: 'Open Sans', sans-serif;
  	cursor: pointer;
  	text-decoration: none;
  	text-align:center;
  	vertical-align:middle;
  	font-weight: 900;
  	margin: 0 auto;
}
.button:hover {
	opacity: 0.7;
}
@media screen and (max-width: 700px) {
	.button {
		display: inline-block;
		margin-right: 1px;
		padding: 8px 5px;
		font-size: 14px;
		width: 100%;
	} 
}