/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

*{
	bordser: 1px solid grey;
	margin: 0px;
	padding: 0px;
}

.cssa-spon{
	padding-top: 70px;
	
}

.spon-head{
	margin-top: 0px;
	padding-top: 100px;
	padding-bottom: 150px;
	background-image: url("../images/sky.jpeg");
	background-position: center;
    background-size: 100% 100%;
	font-size: 24px;
  	text-align: center;  	
  	overflow: hidden;

}
.spon-head h1 {
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 50px;
	display: inline-block;
	border-bottom: 2px solid white;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	width: 90%;
	max-width: 355px;
	margin: 0 auto;
	color: white;
}

@media screen and (max-width: 700px) {
	.spon-head { 
		background-size: cover;
	}
}
@media screen and (min-width: 1000px) {
	.spon-head { 
		background-size: cover;
	}
}

.sponsors-wrapper{
	text-align: center;
	margin: 0px auto;
}

.spon-mast{
	padding: 20px; 
	display: inline-block;	

}

.spon-hold1{
	min-height: 100px;
	max-width: 700px;
}

.spon-name-for-small-screen{
	display: none;
	text-align: center;
	margin: 0 auto;
	font-weight: bolder;
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.spon-logo{
	float: left;
	margin-right: 20px;
	width: 100px;
	height: 100px;
}

.spon-logo img{
	width: 100px;
	height: 100px;
}

.spon-text p{
	font-family: 'Open Sans', sans-serif;
	display: block;
	font-size: 15px;
	padding: 20px;
	padding-top: 30px;
	padding: 20px 50px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;

}

.spon-hold2{
	min-height: 60px;
	padding-right: 20px;
	max-width: 700px;
}

.spon-name{
	float: left;
	width: 100px;
	height: 60px;
	text-align: center;
	font-weight: bolder;
	font-size: 16px;
	text-transform: uppercase;
}

#alchemy{
	padding-top: 15px;
}

.spon-butn{
	float: none;
	margin-top: 15px;

}

.spon-butn img{
	display: inline-block;
	width: 150px;
	height: 40px;
}

.spon-blue{
	color: white;
	background-color: #10102F;
}


.spon-white{
	color: #10102F;
	background-color: white;

}

@media screen and (max-width: 600px) {
	.spon-logo { 
		float: none;
		margin-right:0;
		width:auto;
		border:0; 
		text-align: center;
	}
	.spon-name-for-small-screen {
		display: block;
	}
	.spon-name {
		display: none;
		height: auto;
	}
	.spon-butn { 
		max-width: 200px;
		display: inline-block;
		text-align: center;
		float: none;
		padding-left: 30px;
	}
	.spon-butn img{
		padding-top: 10px;
	}
	.spon-name{
		margin: 0px auto;
	}
}


