/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
/* Hero section */
.ucsd-hero {
   color: white;
   background-color: #10102F; /*fallback if the background image isn't there*/
}
.ucsd-hero-content {
  margin-top: 60px;
  padding-top: 175px;
  padding-bottom: 180px;
  text-align: center;
}
.ucsd-title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 300;
}
.ucsd-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 300;
}
.ucsd-button {
  display: inline-block;
  padding: 0 28px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  height: 50px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #34699A;
  color: white;
  border: none;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align:center;
  vertical-align:middle;

}
.ucsd-button:hover{
  background-color: #0e4374;
}
.ucsd-button-order{
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: #34699A;
    color: #ffffff;
    border: 0;
    padding: 15px 40px;
    font-weight: bold;
    float: left;
    font-size: 14px;
}
.ucsd-button-order:hover{
  background-color: #0e4374;
}
.ucsd-info {
  max-width: 80%;
  margin: 25px auto; /*100px top and bottom, auto left and right allows it to center*/
  padding: 0 15px; /* For when the window is smaller, doesn't but up against the edges */
}
.ucsd-info1 {
  background-color: #10102F;
  max-width: 100%;
  margin: 50px auto; /*100px top and bottom, auto left and right allows it to center*/
  padding: 15px 15px; /* For when the window is smaller, doesn't but up against the edges */
}
.ucsd-italic {
  font-style: italic;
}
/* Split left/right */
.ucsd-half {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.ucsd-half-content {
  margin-top: 0;
  font-size: 18px;
  color: #5c6772;
}
.ucsd-half-content-heading {
  font-weight: 300;
  font-size: 42px;
}
.ucsd-half-honor {
  width: 80%;
  margin: 50px auto;
  font-size: 18px;
  color: white;
  padding: 15px 15px;
}
.ucsd-half-honor-heading {
  font-weight: 300;
  font-size: 42px;
}
.ucsd-hero2 {
   color: white;
   background-color: #FFFFFF; 
}
.ucsd-computer-image {
  width: 100%;
}
.ucsd-half2 {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
}
.ucsd-opsi-image {
  width: 500%;
  
