* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 border: 2px solid grey;
  vertical-align: top;
}

/*top of page*/
.career-top {
  color: white;
  font-size: 20px;
  background-color: blue;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/93/09/84/930984508bf2bef62dd75f872998c126.jpg");
}

.career-title {
  text-align: center;
  border: 3px solid white;
  width: 10em;
  display: inline-block;
}

.career-sub {
  text-align: center;
  padding-top: 15px;
}

.about {
  padding: 60px;
  padding-right: 10%;
}

.about-title {
  text-align: center;
  border: 2px solid grey;
  display: inline-block;
  width: 3.5em;
  font-size: 36px;
}

.career-par {
  padding-left: 30px;
  padding-top: 15px;
  font-size: 20px;
}

/*Middle of page*/
.attending-company {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: darkblue;
  color: white;
}

.attending-title {
  text-align: center;
  border: 2px solid white;
  display: inline-block;
  width: 10em;
  font-size: 36px;
  float: right;
  margin-left: 40%;
  margin-bottom: 20px;
}

.table {
  padding-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-collapse: collapse;
  color: white;
  font-size: 16px;
}

.table-title {
  border-bottom: 1px solid #ddd;
}

.table-content {
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #ddd; 
}
.left-content {
  border-right: 1px solid #ddd; 
}

.middle-content {
}

.right-content {
  border-left: 1px solid #ddd;
  color: lightblue;
}

.attending-bottom {
  width: 100%;
  margin-top:20px;
  text-align: center;
}

.plan-ahead {
  width:12em;
  height: 55px;
  text-align: right;
  display: inline-block;
  padding-right: 5px;
}

.download-button {
  width: 20em;
  height: 55px;
  text-align: center;
  background-color: white;
  color: black;
  display: inline-block;
  padding-top: 12px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
}

.mailing, .payment, .bring, .info {
  display: inline-block;
  width: 300px;
  height: 200px;
  text-align: center;
}

.bottom-text {
 margin: auto;
 width: 600px;
}

.tabcontent h3 {
   background: darkblue;
   color: white;
   font-size: 26px; 
}

/*register txt */
.register { 
  display: inline-block;
   background: yellow;
   
   width: 604px;
   margin-top: 30px;
   margin-right: auto;
   margin-left: auto;
}
