@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

/*top of page*/
.career-top {
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  text-align: center;
  background-image: url("../images/CF_back.jpg");
  background-size: 100% 100%;
  padding-top: 175px;
  padding-bottom: 175px; 
}

.career-title {
  text-align: center;
  border: 3px solid white;
  width: 10em;
  display: inline-block;
}

.career-sub {
  text-align: center;
  padding-top: 15px;
}

.about {
  background-image: url("../images/CFAbout_BG.png");
  background-size: 100% 100%;
  padding: 60px 15%;
  padding-top: 100px;
  padding-bottom: 110px; 
  
}
.about-title {
  margin-top: 0px;
  padding-top: 0;
  text-align: center;
  padding: 5px 5px;
  border: 2px solid grey;
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
}

.career-par {
  padding-left: 30px;
  padding-top: 15px;
  font-size: 24px;
}

/*Middle of page*/
.attending-company {
  background-image: url("../images/CF_BG1.png");
  background-size: 100% 100%;
  padding-top: 175px;
  padding-bottom: 175px; 
  background-color: 10102F;
  color: white;
}

.attending-comp-holder {
  width: 95%;
  padding-bottom: 30px;
  text-align: right;
}

.attending-title {
  text-align: center;
  border: 2px solid white;
  font-size: 40px;
  margin: 10px 20px;
  text-transform: uppercase;
  padding: 5px 20px;
  display: inline-block;
}

.table {
  padding-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-collapse: collapse;
  color: white;
  font-size: 20px;
}

.table-title {
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.table-content {
 border-bottom: 1px solid #ddd;
 border-top: 1px solid #ddd; 
}
.left-content {
  border-right: 1px solid #ddd; 
}

.middle-content {
}

.right-content {
  border-left: 1px solid #ddd;
  color: lightblue;
}

.attending-bottom {
  width: 100%;
  margin-top:20px;
  text-align: center;
}

.plan-ahead {
  text-align: right;
  display: inline-block;
  padding: 10px 10px;
}

.download-button {
  text-align: center;
  background-color: white;
  color: black;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  vertical-align: top;
  margin-top: 18px;
}
.faq-back {
  background-image: url("../images/CF_BG2.png");
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 110px; 
}
.faq {

  max-width: 700px;
  margin: 0px auto;
}

.faq-title-holder {
  width: 100%;
}

.faq-title {
  border: 2px solid black;
  padding: 0px 10px;
  margin: 20px 30px;
  display: inline-block;
  font-size: 36px;
  
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;
  margin: 0px auto;
  width: 604px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/*register txt */
.register-holder {
  width:100%;
}
.register { 
  display: inline-block;
  background: #FFD700;   
  width: 604px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  padding: 15px 0px;
  text-transform: uppercase;
  font-size: 26px;

}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
}

.mailing, .payment, .bring, .info {
  display: inline-block;
  width: 300px;
  height: 230px;
  text-align: center;
  vertical-align: top;
}

.bottom-text {
 margin: 30px auto;

 width: 604px;
}

.tabcontent h3 {
 background-color: 10102F;
 color: white;
 font-size: 26px; 
 padding: 5px 0px;
 text-transform: uppercase;
}