/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
/* Remove default browser margins and padding */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
/* Hero section */
.ucsd-hero {
   color: white;
   background-color: #10102F; /*fallback if the background image isn't there*/
}
.ucsd-hero-content {
  margin-top: 60px;
  padding-top: 120px;
  padding-bottom: 140px;
  text-align: center;
}
.ucsd-title {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 300;
}
.ucsd-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 300;
  width:90%;
  max-width: 800px;
  padding: auto;
  margin: auto;
  padding-bottom: 20px;
}
.ucsd-button {
  display: inline-block;
  padding: 0 28px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  height: 50px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #34699A;
  color: white;
  border: none;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align:center;
  vertical-align:middle;

}
.ucsd-button:hover{
  background-color: #0e4374;
}
.ucsd-button-order{
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: #34699A;
    color: #ffffff;
    border: 0;
    padding: 15px 40px;
    font-weight: bold;
    float: left;
    font-size: 14px;
}
.ucsd-button-order:hover{
  background-color: #0e4374;
}
.ucsd-info {
  max-width: 80%;
  margin: 25px auto; /*100px top and bottom, auto left and right allows it to center*/
  padding: 0 15px; /* For when the window is smaller, doesn't but up against the edges */
}
.ucsd-info1 {
  background-color: #10102F;
  max-width: 100%;
  margin: 50px auto; /*100px top and bottom, auto left and right allows it to center*/
  padding: 15px 15px; /* For when the window is smaller, doesn't but up against the edges */
}
.ucsd-italic {
  font-style: italic;
}
/* Split left/right */
.ucsd-half {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.ucsd-half-content {
  margin-top: 0;
  font-size: 18px;
  color: #5c6772;
}
.ucsd-half-content-heading{
  font-weight: 300;
  font-size: 42px;
}
.ucsd-half-content-heading h4{
  margin: 0px 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.ucsd-half-content-heading h6{
  margin-top: 5px;
}
.ucsd-half-honor {
  width: 80%;
  margin: 50px auto;
  font-size: 18px;
  color: white;
  padding: 15px 15px;
}
.ucsd-half-honor-heading {
  font-weight: 300;
  font-size: 42px;
}
.ucsd-hero2 {
   color: white;
   background-color: #FFFFFF; 
}
.ucsd-hero3 {
  border-top: 2px solid #10102F; 
   color: white;
   background-color: #FFFFFF; 
   padding-top: 30px;
   padding-bottom: 30px;
}
.ucsd-computer-image {
  width: 100%;
}
.ucsd-computer-image2 {
  padding-top: 10px;
  width: 80%;
}
.ucsd-half2 {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
}
.ucsd-opsi-image {
  width: 500%;
}

.newsletter{
  background-color: #10102F;
  padding: 15px 0px 40px 0px;
}

.newsletter h1{
  color: white;
  text-align: center;
  font-size: 36px;
}

table, th, td{
  border:2px solid #10102F;
}

table {
  height: 50%;
  left: 10%;
  margin: 30px auto;
  overflow-y: scroll;
  position: static;
  width: 60%;
}

thead th {
  background: #4cb69f;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 25px;
}

tbody {
  background: #edefef;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
  font-size: 18px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 25px;
  width: 25%;
  font-size: 18px;
  text-align: center;
}


@media screen and (max-width: 950px) {
  .ucsd-half {
    width: 100%;
    display: block;
    vertical-align: none;
  }
  .ucsd-half-content{
    padding-top: 35px;
  }
  .ucsd-half-content-heading h4{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .ucsd-half-content-heading h6{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .ucsd-half-content p{
    display: block;
    text-align: center;
    padding: 5%;
    margin: auto;
  }
  .ucsd-button-order{
    float: none;
    margin: auto; 
    display: table;
  }
  .ucsd-computer-image{
    width: 100%;
    margin: 0 10px;
    text-align: center;
  }
  .ucsd-computer-image2{
    width: 90%;
    margin: 0 35px;
    padding-bottom: 30px;
  }
}
