/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400');

/* Remove default browser margins and padding */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/* Hero section */
.ucsd-hero {
   color: white;
   background-color: #10102F; /*fallback if the background image isn't there*/
}
.ucsd-hero-content {
  padding-top: 260px;
  padding-bottom: 260px;
  text-align: center;
}
.ucsd-title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 300;
}
.ucsd-subtitle {
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 300;
}
.ucsd-button {
  display: inline-block;
  padding: 0 28px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  height: 50px;
  font-size: 1rem;
  border-radius: 25px;
  background-color: #34699A;
  color: white;
  border: none;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align:center;
  vertical-align:middle;

}
.ucsd-button:hover{
  background-color: #0e4374;
}
.ucsd-info {
  max-width: 1100px;
  margin: 10px auto; /*100px top and bottom, auto left and right allows it to center*/
  padding: 0 15px; /* For when the window is smaller, doesn't but up against the edges */
}
.ucsd-italic {
  font-style: italic;
}
/* Split left/right */
.ucsd-half {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.ucsd-half-content {
  font-size: 18px;
  color: #5c6772;
}
.ucsd-half-content-heading {
  font-weight: 300;
  font-size: 42px;
}
.ucsd-computer-image {
  width: 100%;
}
.ucsd-nav {
  background-color: white;
  padding: 0px 0;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #5c6772;
  max-height: 15%;
  overflow: hidden;
}
.ucsd-nav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
  .ucsd-nav a:not(:first-child) {display: none;}
  .ucsd-nav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .ucsd-nav.responsive {position: relative;}
  .ucsd-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .ucsd-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.ucsd-nav-left {
  float: left;
  max-width: 100px;
}
.ucsd-nav-right {
  float: right;
  position: center;
}
.ucsd-nav-content {
  margin: auto;
  max-width: 1100px;
  max-height: 100px;
}
.ucsd-nav-right {
  list-style-type: none;
  padding-left: 0;
  /* Change location of bar in  nav bar*/
  margin: 3.0%;
  height: 10px
}
.ucsd-nav-right__item {
  display: inline-block;
}
.ucsd-nav-right__item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 10px;
  color: #5c6772;
  cursor: pointer; /* Tells the browser that the cursor should be a pointer on hover */
}
.ucsd-nav-right__item:hover{
  color:#040505;
}
.ucsd-nav-right__item .ucsd-button {
  padding: 0 20px;
  margin: 0 10px;
  color: white;
  height: 40px;
}
.ucsd-nav .ucsd-logo {
  padding-left: 16px;
  line-height: 36px;
}
.ucsd-hero2 {
   color: white;
   background-color: #FFFFFF; 
}